* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.custumBorderEmployee {
  border-top: 20px solid red;
}
.custumBorderFertilizer {
  border-top: 20px solid green;
}

.custumBorderEmployee {
  border-top: 20px solid red;
}
.custumBorderGas {
  border-top: 20px solid purple;
}
.custumBorderOtherExpense {
  border-top: 20px solid pink;
}
.custumBorderSales {
  border-top: 20px solid orange;
}
.custumBorderSummary {
  border-top: 20px solid brown;
}

/* fertilizer page */
.wrapCustume{
height: 300px;
overflow-y: scroll;

}
