* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.custumBorderEmployee {
  border-top: 20px solid red;
}
.custumBorderFertilizer {
  border-top: 20px solid green;
}

.custumBorderEmployee {
  border-top: 20px solid red;
}
.custumBorderGas {
  border-top: 20px solid purple;
}
.custumBorderOtherExpense {
  border-top: 20px solid pink;
}
.custumBorderSales {
  border-top: 20px solid orange;
}
.custumBorderSummary {
  border-top: 20px solid brown;
}

/* fertilizer page */
.wrapCustume{
height: 300px;
overflow-y: scroll;

}

@media screen and (max-width:2000px){
  /* fertilizer page */
  .onlyShowIpadMini{
display: none!important;
  }
  .onlyShowComputerSize{
display: grid!important;
  }
}
/* show only ipad mini and iphone */
@media screen and (max-width:768px){
  /* fertilizer page */
  .onlyShowIpadMini{
display: grid!important;
  }
  .onlyShowComputerSize{
    display: none!important;
  }
}

